@model OrderListModel

<h1 class="h3 text-muted">Order Administration</h1>

<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <td>Order Number</td>
                    <td>Order Date</td>
                    <td>User ID</td>
                    <td>Conversation ID</td>
                    <td>Order State</td>
                    <td>Payment Type</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate.ToShortTimeString()</td>
                        <td>@item.UserId</td>
                        <td>@item.ConversationId</td>
                        <td>@item.OrderState</td>
                        <td>@item.PaymentType</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>