@model OrderModel
<h1 class="text-muted">Checkout</h1>

<div class="row">
    <div class="col-md-8">
        <h4 class="text-muted mb-3" >Order Details</h4>
        <form method="post" asp-controller="Cart" asp-action="Checkout">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="@Model.FirstName" ></label>
                    <input asp-for="@Model.FirstName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.LastName"></label>
                    <input asp-for="@Model.LastName" class="form-control" >
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Adress"></label>
                <textarea asp-for="@Model.Adress" class="form-control"></textarea>
                
                <label asp-for="IsAdressSave"></label>
                <input type="checkbox" asp-for="IsAdressSave">
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="@Model.City"></label>
                    <input asp-for="@Model.City" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Phone"></label>
                    <input asp-for="@Model.Phone" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" >
                </div>
            </div>
            <h4 class="mb-3"><span class="text-muted">Payment Info</span></h4>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="@Model.CardName"></label>
                    <input asp-for="@Model.CardName" class="form-control" >
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.CardNumber"></label>
                    <input asp-for="@Model.CardNumber" class="form-control" >
                </div>

            </div>
            <div class="row mb-3">
                
                <div class="col-md-4">
                    <label asp-for="@Model.ExpirationMonth"></label>
                    <input asp-for="@Model.ExpirationMonth" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.ExpirationYear"></label>
                    <input asp-for="@Model.ExpirationYear" class="form-control" >
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Cvc"></label>
                    <input asp-for="@Model.Cvc" class="form-control" >
                </div>

            </div>
            <button type="submit" class="btn btn-outline-dark btn-block">Checkout</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3"><span class="text-muted">Summary</span></h4>
        <ul class="list-group mb-3">
            @foreach (var ci in Model.CartModel.CartItems)
            {
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <h6>@ci.Name (@ci.Quantity)</h6>
                        <span class="text-muted">@ci.Price TL</span>
                    </div>
                </li>
                
            }

            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <span class="text-muted">Total (TL)</span>
                    <strong class="text-muted">@Model.CartModel.TotalPrice() TL</strong>
                </div>
            </li>
        </ul>



    </div>
</div>